#container
{
    padding:30px;
}
#ustawienia
{
    border:2px solid #f2bc8e;
    display: inline-block;
    padding: 20px;
    text-align: center;
}
#ustawienia a
{
    display:inline-block;
    width:80px;
    padding:5px;
    margin-left:10px;
    background-color: #f2bc8e;
    border:1px solid #f2bc8e;
}
#ustawienia a:hover
{
    background-color: unset;
    border:1px dashed #f2bc8e;
}
.album
{
    border-top:2px solid #f2bc8e;
    margin-top:20px;
}
.zdjecie
{
    display: inline-block;
    margin:10px;
}
#paginacja ul
{
    text-align:center;
}
#paginacja li
{
    display: inline-block;
}
#paginacja li a
{
    padding:5px;
    margin-left:10px;
    border:2px dashed #f2bc8e;
}
#paginacja li a.current-page,
#paginacja li a:hover,
main>a.go-galery:hover
{
    background-color: #f2bc8e;
    border:2px solid #f2bc8e;
}
main>a.go-galery
{
    margin:10px;
    padding:5px;
    border:2px dashed #f2bc8e;
}