body
{
  background-color:#94bcce;
  padding-bottom:20px;
}
#header_text_wrapper
{
    height: 240px;
    width:100%;
    position: relative;
    background-image:url(../img/header_img.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center;
}
h1
{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	margin:0;
	font-size: 40px;
	color:#636363;
}
header nav
{
	background-color:#f2bc8e;
}
header nav > ul
{
	width:100%;
}
header nav > ul > li
{
	float:left;
	padding:5px 10px;
	margin:7px 0;
	transition: 0.3s;
}
header nav > ul>li:hover, header nav > ul>li.current
	{background-color:#94bcce;}
header nav::after
	{clear:both;}
main
{
    width:100%;
}
footer
{
	text-align:center;
  background-color:#f2bc8e;
  position:fixed;
  bottom:0;
  width:100%;
  line-height:20px;
}
.error
{
	color:#ce0000;
	font-weight:bold;
}


/*---------------------------normalizacja między przeglądarkami-------------------------------------------*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:before, *:after {
	content: " ";
	display: table;
}
/*wyłącza horizontal scroll bar*/
html, body
{
	width: 100% !important;
	max-width: 100% !important;
}
html {
    font-size: 1em;
    line-height: 1.25;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
}

main,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
strong
{display: inline-block}
a {
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	color:currentColor;
}
ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
b,
strong {
  font-weight: inherit;
}
img {
  border-style: none;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	-webkit-appearance: button;
	padding: 0;
}
[type="checkbox"],
[type="radio"] {
	padding: 0;
}